In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [4]:
data = pd.read_csv("iris.csv")
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
data.duplicated().sum()

1

In [6]:
data=data.drop_duplicates()

In [7]:
data.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [8]:
data.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [9]:
data.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [10]:
x =data.drop('variety',axis=1)
y =data['variety']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=6)

In [18]:
model1 =KNeighborsClassifier()
model1.fit(x_train,y_train)
print("train score: ",model1.score(x_train,y_train))
print("test score: ",model1.score(x_test,y_test))

train score:  0.9831932773109243
test score:  0.9333333333333333

### KNeighbors

In [19]:
model2 =KNeighborsClassifier(n_neighbors=10)
model2.fit(x_train,y_train)
print("train score: ",model2.score(x_train,y_train))
print("test score: ",model2.score(x_test,y_test))

train score:  0.9747899159663865
test score:  0.9333333333333333

In [20]:
model3 =KNeighborsClassifier(n_neighbors=20)
model3.fit(x_train,y_train)
print("train score: ",model3.score(x_train,y_train))
print("test score: ",model3.score(x_test,y_test))

train score:  0.9495798319327731
test score:  0.9