In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("employee.csv")

In [3]:
data =data.sample(n=1000,random_state=34)

In [4]:
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,department,salary,left
2073,0.39,0.78,2,205,6,1,0,sales,low,0
3183,0.90,0.45,4,241,6,0,0,support,medium,0
4094,0.30,0.80,6,250,3,0,0,support,low,0
13131,0.79,0.59,4,187,2,0,0,management,low,0
6508,0.82,0.70,3,149,2,0,0,sales,medium,0
...,...,...,...,...,...,...,...,...,...,...
11730,0.91,0.58,3,220,7,0,1,sales,low,0
13094,0.48,0.86,5,198,4,0,0,technical,low,0
2798,0.49,1.00,3,176,3,0,0,support,medium,0
11519,0.45,0.64,3,169,10,0,0,IT,medium,0
14395,0.36,0.55,2,141,3,0,0,hr,medium,1

In [5]:
data.duplicated().sum()

15

In [6]:
data=data.drop_duplicates()

In [7]:
data.duplicated().sum()

0

In [8]:
data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
promotion_last_5years    0
department               0
salary                   0
left                     0
dtype: int64

In [9]:
data.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
promotion_last_5years      int64
department                object
salary                    object
left                       int64
dtype: object

In [10]:
data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years', 'department', 'salary', 'left'],
      dtype='object')

In [11]:
data.department.unique()

array(['sales', 'support', 'management', 'RandD', 'accounting',
       'product_mng', 'marketing', 'hr', 'IT', 'technical'], dtype=object)

In [12]:
department=LabelEncoder()
data['department']=department.fit_transform(data['department'])

salary=LabelEncoder()
data['salary']=salary.fit_transform(data['salary'])

C:\Users\HP\AppData\Local\Temp/ipykernel_17348/1734178696.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['department']=department.fit_transform(data['department'])
C:\Users\HP\AppData\Local\Temp/ipykernel_17348/1734178696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['salary']=salary.fit_transform(data['salary'])

In [13]:
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,department,salary,left
2073,0.39,0.78,2,205,6,1,0,7,1,0
3183,0.90,0.45,4,241,6,0,0,8,2,0
4094,0.30,0.80,6,250,3,0,0,8,1,0
13131,0.79,0.59,4,187,2,0,0,4,1,0
6508,0.82,0.70,3,149,2,0,0,7,2,0
...,...,...,...,...,...,...,...,...,...,...
3545,0.80,0.70,6,231,4,0,0,9,2,0
11730,0.91,0.58,3,220,7,0,1,7,1,0
13094,0.48,0.86,5,198,4,0,0,9,1,0
2798,0.49,1.00,3,176,3,0,0,8,2,0
11519,0.45,0.64,3,169,10,0,0,0,2,0

In [14]:
x=data.drop("left",axis=1)
y=data["left"]

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)

In [16]:
model1=SVC() # default kernel:rbf
model1.fit(x_train,y_train)
print("Train score:" ,model1.score(x_train,y_train))
print("Test scoer: ",model1.score(x_test,y_test))

Train score: 0.7703045685279187
Test scoer:  0.7563451776649747

In [17]:
model2=SVC(kernel = 'linear')
model2.fit(x_train,y_train)
print("Train score:" ,model2.score(x_train,y_train))
print("Test scoer: ",model2.score(x_test,y_test))

Train score: 0.7969543147208121
Test scoer:  0.7766497461928934

In [20]:
model3=SVC(kernel = 'linear',C=15 ,gamma='auto')
model3.fit(x_train,y_train)
print("Train score:" ,model3.score(x_train,y_train))
print("test score: ",model3.score(x_test,y_test))

Train score: 0.7931472081218274
test score:  0.7817258883248731

In [21]:
model4=SVC(kernel = 'poly',degree=5)
model4.fit(x_train,y_train)
print("Train score:" ,model4.score(x_train,y_train))
print("test score: ",model4.score(x_test,y_test))

Train score: 0.7703045685279187
test score:  0.7563451776649747